.warp {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: .1rem;
  padding-top: .6rem;
}
.title {
  display: flex;
  justify-content: space-between;
  height: .4rem;
  align-items: center;
}
.icon {
  width: .2rem;
  height: .2rem;
  margin-right: .08rem;
}
.refresh {
  display: flex;
  align-items: center;
}
.title-txt {
  font-size: 18px;
  font-weight: bold;
}
.refresh-btn {
  font-size: .16rem;
  color: #32aeff;
}
#signature {
  width: 100%;
  height: 80%;
  border: 1px solid #000;
}
.btn{
  background-color: #FFF;
  margin-top: .1rem;
  text-align: right;
  font-size: 12px;
}
.btn-item {
  background-color: #32aeff;
  color: #fff;
  font-size: .16rem;
  display: inline-block;
  width: 1.2rem;
  height: .48rem;
  text-align: center;
  line-height: .48rem;
  border-radius: 5px;
}